!.gitignore

obj/
Temp/
/Assets/StreamingAssets/
/Assets/StreamingAssetsTemp/
/Assets/StreamingAssetsTemp.*
/Assets/StreamingAssets.*
iOSBuild/
/Assets/Editor/XUPorter/Mods/iOS/iosplugins

Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs


Build

*.pidb
*.sln
*.userprefs
*.csproj
*.orig
*.orig.meta


#ignore thumbnails created by windows
Thumbs.db
.DS_Store
#Ignore files build by Visual Studio
*.obj
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log

*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Art/
ProjectSettings/ProjectVersion.txt
/Library/*
!/Library/BuildSettings.asset
!/Library/ProjectSettings.asset

/Assets/Editor/ChangeScriptTemplet.*
/Assets/Editor/ChangeScriptTemplet.cs.*